.friends-list {
  display: flex;
  justify-content: center;
  column-gap: 70px;
  row-gap: 70px;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.friend-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  border: var(--main-border);
  border-radius: var(--main-border-radius);
  padding: 50px;
}

.friend-image {
  border-radius: 50%;
  border: var(--main-border);
}

.friend-name {
  font-size: 30px;
}

.friend-status {
  font-size: 20px;
}

.online {
  color: green;
}

.offline {
  color: red;
}
