:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #333333;
  /* or black */
}

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
